
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>moodTUBE</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
        form {
            display: inline-block;
        }
    </style>
    </head>

  <body>
    <div class="output">
      {% if logged_in %}
        {% include 'headerLoggedIn.html' %}
      {% else %}
        {% include 'headerDefault.html' %}
      {% endif %}
     </div>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
            {% if name %}
                 <h3>Welcome, {{ name }}!</h3>
            {% endif %}
              {% if tones %}
                <p class="lead">{{tones}}</p>
              {% endif %}
              {% if message %}
                <p class="lead">{{message}}</p>
              {% endif %}
              {% if result %}
                  {% for url in result %}

                  <div class="box">
                      <iframe src={{url[0]}} width="960" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                       <div class="lead">
                         <form method="post" action="/page/likes">
                        <input type="text" name="likes" value="{{ url[0] }}" hidden="true">
                              <input type="text" name="tone" value="{{ url[3] }}" hidden="true">
                        <input type="submit" class="btn btn-lg btn-default" name="like_value" value="{{ url[1] }}">
                         </form>
                        <form method="post" action="/page/dislikes">
                        <input type="text" name="dislikes" value="{{ url[0] }}" hidden="true">
                              <input type="text" name="tone" value="{{ url[3] }}" hidden="true">
                        <input type="submit" class="btn btn-lg btn-default" name="dislike_value" value="{{ url[2] }}">
                         </form>
                           <script type="text/javascript">
                               function myFunction(x,y) {
    	                            document.getElementById(x).innerHTML = "<form method='post' id="+x+" action = '/tweet'><textarea cols = '50' rows = '10' name='tweet' class='form-control' style='resize:vertical' >Check out this Giphy! "+x+" </textarea><input id='source' type='hidden' name = 'from'  value = 'index'/><button type='submit' onclick='revert("+x+","+y+")' name = 'keyword' class='btn btn-success btn-lg'id='Tweet'>Tweet!</button></form>";
                                  document.getElementById(y).style.display = 'none';

	                             }
                               function revert(x,y) {
                                 document.getElementById(x).innerHTML = "<p id="+x+"></p>"
                                 document.getElementById(y).style.display ='inline'
                               }
                          </script>
                          <p id={{url[0]}}></p>
                          <button type="button" class="btn btn-lg btn-default" id='{{ loop.index }}' onclick="myFunction('{{url[0]}}','{{ loop.index }}')">Share</button>
                      </div>
                    <div>
                  {% endfor %}
              {% endif %}
            </div>
          </div>
          <section id="Emotions">
          <div class="inner cover">
            <h1 class="cover-heading">moodTUBE</h1>
              <p class="lead">Using sentiment analysis on your Twitter feed, we can suggest GIFs based on your emotional state!</p>

            {% if logged_in %}
              <p class="lead">
                  <a href="/twitter/auth" class="btn btn-lg btn-default">Analyze My Tweets!</a>
                <a href="/moodchoose" class="btn btn-lg btn-default">No Twitter account? No problem!</a>
              </p>

            {% else %}
              <h2 class="lead"> <a href='/page/login'>Login</a> to find out how you're feeling! </h2>
              <h2 class="lead"> or <a href='/page/register'>Make an account here.</a></h2>

            {% endif %}
      </form>
          </section>
          <div class="result">
                <ul class="nav masthead-nav">
                  <li class="active"><a href="https://github.com/giphy/GiphyAPI">Giphy API</a></li>
                  <li class="active"><a href="https://github.com/ferrys/moodtube">Github Repo</a></li>
                </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
