
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>moodTUBE</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery.js"></script>

    <style>
        form {
            display: inline-block;
        }
        .box { display:inline-block; }
        
    </style>
    </head>

  <body>
    <div class="output">
      {% include 'header.html' %}
     </div>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              {% if tones %}
                <p class="lead">{{tones}}</p>
              {% endif %}
              {% if message %}
                <p class="lead">{{message}}</p>
              {% endif %}
              {% if result %}
                  {% for url in result %}
                  <div class="box">
                      <iframe src={{url[0]}} width="480" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                       <div class="lead">
                           <form method="post" action="/page/likes">
                    			<input type="text" name="likes" value="{{ url[0] }}" hidden="true">
                                <input type="text" name="tone" value="{{ url[3] }}" hidden="true">
                    			<input type="submit" class="btn btn-lg btn-default" name="like_value" value="{{ url[1] }}">
                           </form>
                          <form method="post" action="/page/dislikes">
                    			<input type="text" name="dislikes" value="{{ url[0] }}" hidden="true">
                                <input type="text" name="tone" value="{{ url[3] }}" hidden="true">
                    			<input type="submit" class="btn btn-lg btn-default" name="dislike_value" value="{{ url[2] }}">
                           </form>
                          <a href="/page/likes" class="btn btn-lg btn-default">share ME!</a>
                      </div>
                    <div>
                  {% endfor %}
              {% endif %}
            </div>
          </div>
          <section id="Emotions">
          <div class="inner cover">
            <h1 class="cover-heading">moodTUBE</h1>
            <p class="lead">Using sentiment analysis on your Twitter feed, we can suggest GIFs based on your emotional state!</p>
            <p class="lead">
                <a href="/twitter/auth" class="btn btn-lg btn-default">Analyze My Tweets!</a>
              <a href="/moodchoose" class="btn btn-lg btn-default">No Twitter account? No problem!</a>
            </p>
      </form>
          </section>
          <div class="result">
                <ul class="nav masthead-nav">
                  <li class="active"><a href="https://github.com/giphy/GiphyAPI">Giphy API</a></li>
                  <li class="active"><a href="https://github.com/ferrys/moodtube">Github Repo</a></li>
                </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
