<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>likes</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <style>
        form {
            display: inline-block;
        }
      </style>
   </head>

  <body>
      <div class="output">
      {% include 'headerLoggedIn.html' %}
     </div>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
                {% if message %}
                    <h3>{{message}}</h3>
                {% endif %}
              {% if result %}
                  {% for url in result %}
                      <iframe src={{url}} width="960" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                       <p class="lead">
                        <form method="post" action="/page/likes">
                    			<input type="text" name="likes" value="{{ url }}" hidden="true">
                                <input type="text" name="tone" value="N/A" hidden="true">
                    			<input type="submit" class="btn btn-lg btn-default" name="like_value" value="Unlike!">
                        </form>
                        <script type="text/javascript">
                            function myFunction(x,y) {
                               document.getElementById(x).innerHTML = "<form method='post' id="+x+" action = '/tweet'><textarea cols = '50' rows = '10' name='tweet' class='form-control' style='resize:vertical' >Check out this Giphy! "+x+" </textarea><input id='source' type='hidden' name = 'from'  value = 'likes'/><button type='submit' onclick='revert("+x+","+y+")' name = 'keyword' class='btn btn-success btn-lg'id='Tweet'>Tweet!</button></form>";
                               document.getElementById(y).style.display = 'none';

                            }
                            function revert(x,y) {
                              document.getElementById(x).innerHTML = "<p id="+x+"></p>"
                              document.getElementById(y).style.display ='inline'
                            }
                       </script>
                       <p id={{url}}></p>
                       <button type="button" class="btn btn-lg btn-default" id='{{ loop.index }}' onclick="myFunction('{{url}}','{{ loop.index }}')">Share</button>

                      </p>
                  {% endfor %}

              {% endif %}

            </div>
          </div>
