<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>moodCHOOSE</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="cover.css" rel="stylesheet">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
        <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=/>moodTUBE</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/page/login">Login<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/page/register">Register</a></li>
            <li><a href="#">moodCHOSE</a></li>
          </ul>
          <form class="navbar-form navbar-left" method="post" action="/giphy">


              <input type="search" value="Search" name="keyword" />
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<body>
  <div class="container">
        <a class="btn btn-primary" href="#" role="button">Joy</a>
        <a class="btn btn-primary" href="#" role="button">Creative</a> 
        <a class="btn btn-primary" href="#" role="button">Optimism</a> 
        <a class="btn btn-primary" href="#" role="button">Freedom</a> 
        <a class="btn btn-secondary" href="#" role="button">Luxury</a> 
        <a class="btn btn-secondary" href="#" role="button">Power</a> 
        <a class="btn btn-secondary" href="#" role="button">Mystery</a> 
        <a class="btn btn-secondary" href="#" role="button">Passion</a> 
        <a class="btn btn-success" href="#" role="button">Quiet</a> 
        <a class="btn btn-success" href="#" role="button">Meditation</a> 
        <a class="btn btn-success" href="#" role="button">Imagination</a> 
        <a class="btn btn-success" href="#" role="button">Calm</a> 
        <a class="btn btn-info" href="#" role="button">Natural</a> 
        <a class="btn btn-info" href="#" role="button">Energized</a> 
        <a class="btn btn-info" href="#" role="button">Euphoric</a> 
        <a class="btn btn-info" href="#" role="button">Productive</a> 
        <a class="btn btn-warning" href="#" role="button">Secure</a> 
        <a class="btn btn-warning" href="#" role="button">Determined</a> 
        <a class="btn btn-warning" href="#" role="button">Strong</a> 
        <a class="btn btn-warning" href="#" role="button">Triumphant</a> 
        <a class="btn btn-danger" href="#" role="button">Doubt</a> 
        <a class="btn btn-danger" href="#" role="button">Despair</a> 
        <a class="btn btn-danger" href="#" role="button">Shame</a> 
        <a class="btn btn-danger" href="#" role="button">Sadness</a> 
        <a class="btn btn-primary" href="#" role="button">Link</a> 
        <a class="btn btn-primary" href="#" role="button">Link</a> 
      
  </div>
  <nav>

                <svg width="960" height="500"></svg>
                <script src="https://d3js.org/d3.v4.min.js"></script>
                <script>

                var svg = d3.select("svg"),
                    width = +svg.attr("width"),
                    height = +svg.attr("height"),
                    angles = d3.range(0, 2 * Math.PI, Math.PI / 200);

                var path = svg.append("g")
                    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
                    .attr("fill", "none")
                    .attr("stroke-width", 10)
                    .attr("stroke-linejoin", "round")
                  .selectAll("path")
                  .data(["cyan", "magenta", "yellow"])
                  .enter().append("path")
                    .attr("stroke", function(d) { return d; })
                    .style("mix-blend-mode", "darken")
                    .datum(function(d, i) {
                      return d3.radialLine()
                          .curve(d3.curveLinearClosed)
                          .angle(function(a) { return a; })
                          .radius(function(a) {
                            var t = d3.now() / 1000;
                            return 200 + Math.cos(a * 8 - i * 2 * Math.PI / 3 + t) * Math.pow((1 + Math.cos(a - t)) / 2, 3) * 32;
                          });
                    });

                d3.timer(function() {
                  path.attr("d", function(d) {
                    return d(angles);
                  });
                });

                </script>
              </nav>
</body>
</html>